@model CartViewModel

@{
    ViewData["Title"] = "Kosár";
}
<h1>Kosár tartalma</h1>
@if(Model.cartItems.Count>0)
{
    <table> 
    <tr>
        <th>Termék</th>
        <th>Mennyiség</th>
        <th></th>
        <th>Ár</th>
        <th>Végösszeg</th>
      


    </tr>
    @foreach(var item in Model.cartItems)
        {
            <tr>

                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@item.ProductId">+</a>
                    <a class="btn btn-info btn-sm" asp-action="Decrease" asp-route-id="@item.ProductId">-</a>
                    <a class="btn btn-dangerbtn-sm" asp-action="Remove" asp-route-id="@item.ProductId">Eltávolít</a>
                </td>
                <td>@item.Price.ToString("C2")</td>
                <td>@Model.cartItems.Where(x=>x.ProductId==item.ProductId).Sum(x=>x.Quantity*x.Price).ToString("C2")</td>


            </tr>
        }
        <tr class="text-right" colspan="4">Végösszseg: @Model.GrandTotal.ToString("C2")</tr>
        <tr>
            <td class="text-right" colspan="4">
                <a class="btn btn-danger" asp-action="Clear">Clear cart</a>
                <a class="btn btn-primary" href="#">Fizetés</a>

            </td>

        </tr>
    </table>
    
}else
{
    <h3 class="display-4 text-center">Kosara üres</h3>
}







